<section id="projects">
  <div class="container">
    <h3>{{ .Site.Data.projects.name }}</h3>
    <div class="panel panel-default">
      <div class="panel-body">
      {{ range $el := .Site.Data.projects.source }}
        <div class="project">
          {{ if .image }}
          <img class="project-image" src="../img/{{ .image }}" alt="{{ $el.name }}">
          {{ end }}
          <h5>{{ $el.name }}</h5>
        {{ $el.description }}
        <br>
        <a href="{{ .url }}">Visit Project</a>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
